@media screen and (max-width:878px) {
    
    /* categories */
    .categories{
        width: 90%;
    }
    /* recently */
    .album{
        justify-content: flex-start;
    }
    .col{
        width: calc(100%/4);
        
    }
}

@media screen and (max-width:639px) {
    
    /* recently */
    .col{
        width: calc(100%/2);
    }
}


@media screen and (max-width:552px) {
    /* navbar */
    .nav-container{
        width: 50px;
    }
    
    .logo{
        display: none;
    }
    .logo-small{
        display: inline-block;
        width: 30px;
        height: 30px;
        margin: 20px 0 0 10px;
    }

    .menu div{
        padding: 0;
       text-align: center;
    }
    .menu{
        height: 73%;
    }
    .menu img{
        width: 25px;
        height: 25px;
        vertical-align: middle;
    }
    .home{
        border: none;
    }

    .home span{
        display: none;
    }
    .search span{
        display: none;
    }
    .library span{
        display: none;
    }

    /* playlist */
    .playlist{
        display: none;
    }

    /* account */
.account span,
.account hr{
    display: none;
}

.account{
    padding-left: 10px;
    padding-right: 0;
    padding-bottom: 20px;
}


    /* header */

    .header-container{
        width: calc(100vw - 50px);
        
        color:white;
        background-color: var(--bg-header);
        
    }

    /* main */
    .main-container{
        width:calc(100% - 50px);
        
        left:50px;
        
    
        
        
    }


    /* footer */
}