/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

:root{
    --bg-nav:black;
    --bg-header:#080b12;
    --bg-main:#141922;
    --bg-footer:#282828;
}

/* common */
.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    
    
}
.mg-top-10{
    margin-top: 10px;
}
.padd-top-10 div{
    padding-top: 10px;
}

/* navbar */
.nav-container{
    width: 200px;
    height: calc(100vh - 100px);
    background-color: var(--bg-nav);
    color: gray;

}

.logo{
    padding: 0 10px 0 20px;
    height: 100px;
    width: 130px;
    
}
.logo-small{
    display: none;
}


/* menu */
.menu{
    
    /* debug */
    border: 2px solid blue;
}
.menu div{
    margin-top: 15px;
    padding-left: 20px;
}
.menu img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.menu span{
    vertical-align: middle;
    font-size: 0.9rem;
}


.home{
    
    border-left:2px solid #adff2f;
}

.home span{
    color: white;
 
}


.search span{
    color: #808080;
    
}

/* playlist */

.playlist{
    width: 100%;
    height: 60%;
    margin-top: 30px;
    padding-left: 15px;
    overflow: auto;

    /* debug */
    border: 2px solid red;
    
}

.playlist h4{
    color: white;
}

.playlist .square{
    display: inline-block;
    height: 35px;
    width: 35px;
    background-color: gray;
    color: black;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    line-height: 35px;
    vertical-align: middle;
    

}


.playlist span{
    vertical-align: middle;
    padding-left: 10px;
}

/* account */
.account{
    height: 15%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* debug */
    border: 2px solid blue;

}

.account .download{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.account span{
    vertical-align: middle;
    padding-left: 20px ;
}

.gray-border{
border-bottom: 1px solid gray;

}

.account .profile{
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 50%;
    vertical-align: middle;
}
.account div{
    padding: 15px 0 10px 0;
}

/* *******************/
/* header */
/* *******************/
.header-container{
    width: calc(100vw - 200px);
    height: 100px;
    color:white;
    background-color: var(--bg-header);
    
}



/* *******************/
/* main */
/* *******************/
.main-container{
    width:calc(100% - 200px);
    height: calc(100vh - 200px);
    background-color: var(--bg-main);
    color: white;
    left:200px;
    top:100px;

    position: absolute;
    
}




/* *******************/
/* footer */
/* *******************/

.footer-container{
    width: 100%;
    height: 100px;
    background-color: var(--bg-footer);
    color: white;
    position: absolute;
    align-self: end;
}